body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00607a;
    color: white;
}

header {
    background-color: #004050;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

h2 {
    border-bottom: 2px solid #004050;
    padding-bottom: 10px;
}

.ul :hover{
    color:#00bbff;
    transition:  0.5s ease-in;
}

.card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: #005060;
    border-radius: 8px;
    padding: 15px;
    margin: 10px;
    width: 30%;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

button {
    background-color: #007080;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #008080;
}

.beautiful-button {
    width:300px;
    background-color: #f39c12; /* Цвет фона кнопки */
    color: #ffffff; /* Цвет текста */
    border: none; /* Убираем рамку */
    padding: 15px 30px; /* Отступы кнопки */
    font-size: 1.2em; /* Размер шрифта */
    border-radius: 5px; /* Скругленные углы */
    cursor: pointer; /* Указатель мыши при наведении */
    transition: background-color 0.3s, transform 0.2s; /* Плавный переход цвета и эффекта */
    text-align: center;

    margin-left:465px;
  }
                  
  .beautiful-button:hover {
    background-color: #e67e22; /* Цвет фона кнопки при наведении */
    transform: scale(1.05); /* Увеличение кнопки при наведении */
  }
                  
  .beautiful-button:active {
    transform: scale(0.95); /* Уменьшение кнопки при нажатии */
  }

footer {
    text-align: center;
    padding: 10px;
    background-color: #004050;
    position: relative;
    bottom: 0;
}
